/* common shared style */
body{
    font-family:'lato' sans-serif;
    font-family: 'Open Sans', sans-serif; 
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}
.section-description{

    color:#757575;
    text-align: center;  
    font-size: 18px;
}
/* nav related style */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul {
    display:flex;
    align-items:center ;
}
nav li {
    list-style: none;
    padding-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header realeted style */
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 582px;


}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-conten{
    max-width: 500px;
}
/* main section style */

/* about section style */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px; ;
}
.about-info-container{
    display:flex;
    justify-content:space-around;
}
.about-info{
    text-align: center;
}
/* skills realeted style */
#what-i-do-description{
    padding: 30px 160px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #f8f5f5;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
}
/* Resume section style */
.section-titel{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.resume-column-title{
    color:#474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 55px;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.resume-item-institute{

}
.resume-item-institute,.resume-item-description{
    color: #757575;
}
.resume-container hr{
    margin: 40px;
}
.Downlod-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}
footer h3 {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.footer-column{
    width: 50%;
}
.contact input ,textarea{
    display: block;
    margin-bottom: 26px;
    padding: 68px 30px;
    background: #FFF;
    border: 0px;
    
}
